<h1>Viewer#query_tool</h1>
<p>Find me in app/views/viewer/query_tool.html.erb</p>

<%= form_with url: '/viewer/viewer', method: :get, data: { turbo: false }, id: 'main_form' do |form| %>
  <%= label_tag(:url, 'Введите URL, откуда получить RSS-ку:') %>
  <%= text_field_tag(:url, 'http://127.0.0.1:3000/main/result.xml?p=25&rss') %>
  <br/>

  <%= check_box_tag :xslt, '1', true %>
  <%= label_tag('xslt', 'Задействовать XSLT') %> <br/>

  <div id='radios'>
    <%= form.radio_button(:xslt_type, 'server', checked: true) %>
    <%= form.label(:xslt_type, 'XSLT серверный', value: 'server') %> <br/>
    <%= form.radio_button(:xslt_type, 'client') %>
    <%= form.label(:xslt_type, 'XSLT клиентский', value: 'client') %> <br/>
  </div>

  <br/> <br/>
  <%= submit_tag 'Перейти к рассчётам' %>
<% end %>

